<div class="topics-stock-container">
  <div class="topics-stock-big-box">
    <p>天気の話</p>
  </div>
  <div class="topics-stock-small-boxes">
    <div class="topics-stock-small-box">
      <p>季節の話</p>
    </div>
    <div class="topics-stock-small-box">
      <p>通勤・通学方法</p>
    </div>
    <div class="topics-stock-small-box">
      <p>雨の話</p>
    </div>
    <div class="topics-stock-small-box">
      <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
    </div>
  </div>
</div>