<div class="users-home-container">
  <div class="users-home-big-box">
    
    <p><i class="fas fa-user"></i><%= @current_user.name %></p>
    <div class="users-home-small-box">
      <div class="users-home-content">
        <i class="fas fa-star"></i>
        <span>ストックしたトピック <%= @topic_count %>個</span>
      </div>
      <div class="users-home-content">
        <!-- 検索フォームのHTMLを記述 -->
        <i class="fas fa-search"></i>
        <input type="text" name="search" placeholder="トピックを検索">
      </div>
      <div class="users-home-content">
        <i class="fas fa-plus"></i>
        <span><%= link_to("新規ストック", "/users/#{@current_user.id}/new") %></span>
      </div>
    </div>
  </div>
  <%= link_to("スタート", "/users/#{@current_user.id}/stock", class: "users-home-start-btn") %>
</div>