<style>
  .container {
    margin-top: 110px;
    text-align: center;
    color: white;
  }
  .big-box {
    width: 320px;
    padding: 20px;
    margin: 0 auto 10px auto;
    display: flex; 
    flex-direction: column; /* 要素を縦に並べる */
    align-items: center; /* 要素を中央に並べる */
    background-color: #ff7799;
    border-radius: 20px;
  }
  .small-box {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    word-wrap: break-word; /* テキストが枠内に収まるように折り返す */
  }
  .small-box i {
    margin-right: 10px;
    display: inline; /* アイコンと文字の間の余白を設定 */
    justify-content: left; /* 中央寄せ */
    text-align: left; /* テキストを左寄せ */
  }
  .start-btn {
    width: 320px;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    margin: 0 auto;
    display: inline-block;
    font-size: 32px;
    background-color: darkorange;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px #0000001a
  }
  </style>

<div class="container">
  <div class="big-box">
    <div class="small-box">
      <p><%= @user.name %></p>
    </div>
    <div class="small-box">
      <!-- 検索フォームのHTMLを記述 -->
      <i class="fas fa-search"></i> <!-- 検索フォームのアイコン -->
      <input type="text" name="search" placeholder="話題を検索">
    </div>
    <div class="small-box">
        <i class="fas fa-edit"></i> <!-- 編集アイコン -->
        <span>編集・削除</span>
    </div>
  </div>
  <%= link_to("スタート", "/users/#{@user.id}/stock", class: "start-btn") %>
</div>