<%= turbo_frame_tag "topic_boxes" do %>
  <div class="users-index-container">

    <% if @topics.present? %>
      <div class="small-boxes">
        <% @topics.each do |topic| %>
          <%= button_to(
            topic.content, "/users/#{@current_user.id}/stock",
            {method: :get, params: {id: @current_user.id, topic_id: topic.id}, class: "button"}
          ) %>
        <% end %>
      </div>
    <%else%>
      <p class="font-error"><%= @error_message %></p>
    <% end %>

  </div>
<% end %>