<style>
  .font-error {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: red;
  }
  .container {
    margin-top: 110px;
    text-align: center;
  }
  .big-box {
    width: 600px;
    height: 200px;
    margin: 0 auto 20px auto;
    display: flex; 
    align-items: flex-end; /* 子要素を下に揃える */
    justify-content: space-evenly; /* 子要素を左右中央に並べる */
    font-size: 44px;
    background-color: darkorange;
    border-radius: 10px;
    overflow: hidden; /* 枠外のテキストを切り捨てる（平仮名40字まで） */
  }
  .big-text {
    font-size: 44px;
    color: white;
    background-color: darkorange;
    resize: none;
    word-wrap: break-word; /* テキストが枠内に収まるように折り返す */
  }
</style>

<% if @existing_error_message %>
  <p class="font-error"><%= @existing_error_message %></p>
<% end %>

<div class="container">
  <div class="big-box">
    <%= form_with url: "/users/#{@current_user.id}/create", data: { turbo: false } do |form| %>
      <%= form.text_area :content, class: "big-text", required: true,
      size: "20x4", maxlength: 40 %>
      <%= form.submit "ストック" %>
    <% end %>
  </div>
</div>