<% if @existing_error_message %>
  <p class="users-new-font-error"><%= @existing_error_message %></p>
<% end %>

<div class="users-new-container">
  <div class="users-new-big-box">
    <%= form_with(url: "/users/#{@current_user.id}/create", data: { turbo: false }) do |form| %>
      <%= form.text_area :content, class: "users-new-big-text", required: true,
      size: "20x4", maxlength: 40 %>
      <%= form.submit "ストック" %>
    <% end %>
  </div>
</div>