<style>
  .container {
    margin-top: 110px;
    text-align: center;
  }
  .big-box {
    width: 600px;
    height: 200px;
    margin: 0 auto 20px auto;
    display: flex; 
    align-items: center; /* 子要素pを上下中央に並べる */
    justify-content: center; /* 子要素pを左右中央に並べる */
    background-color: darkorange;
    border-radius: 10px;
    overflow: hidden; /* 枠外のテキストpを切り捨てる（平仮名40字まで） */
  }
  .big-box p {
    font-size: 44px;
    color: white;
    word-wrap: break-word; /* テキストが枠内に収まるように折り返す */
  }
  .small-boxes {
    width: 610px;
    margin: 0 auto;
  }
  .small-box {
    width: calc((600px - 20px) / 3); /* small-box * 3 + margin = big-box */
    height: 100px;
    margin: 5px 5px;
    float: left;
    display: flex; 
    align-items: center; /* 子要素pを上下中央に並べる */
    justify-content: center; /* 子要素pを左右中央に並べる */
    background-color: #ffb52a;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    white-space: pre-wrap; /* small-boxがbig-boxの幅に収まるように折り返す */
    overflow: hidden; /* 枠外のテキストpを切り捨てる（平仮名39字まで） */
  }
  .small-box:active {
    transform: translateY(2px);
  }
  .small-box p {
    font-size: 18px;
    color: white;
    word-wrap: break-word; /* テキストが枠内に収まるように折り返す */
  }
  .edit {
    position: absolute;
    top: 56px;
    right: 10px;
  }
  .edit li {
    padding-left: 20px;
    float: left;
    list-style-type: none;
  }
  .edit-link {
    font-size: 18px;
    color: darkorange;
    text-decoration: underline;
  }
</style>

<div class="container">

  <div class="edit">
    <li><%= link_to("編集", "/users/#{@random_topic.id}/edit", class: "edit-link") %></li>
    <li><%= link_to("削除", "/users/#{@random_topic.id}/delete", class: "edit-link") %></li>
  </div>

  <div class="big-box">
    <p><%= @random_topic.content %></p>
  </div>

  <div class="small-boxes">
    <!-- 1.ランダムで表示される話題に紐づく中間データを全て取り出す -->
    <% @connections.each do |connection| %>
      <!-- 2.取り出した中間データに紐づく類題を、similar_topicsに全て代入する -->
      <% similar_topics = SimilarTopic.where(id: connection.similar_topic_id) %>
      <div class="small-box">
        <!-- 3.代入した類題を全て取り出す -->
        <% similar_topics.each do |similar_topic| %>
          <!-- 4.取り出した類題のcontentのみを表示する -->
          <p><%= similar_topic.content %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>