<div class="users-stock-container">

  <div class="users-stock-edit">
    <li><%= link_to("編集", "/users/#{@main_topic.id}/edit", class: "edit-link") %></li>
    <li><%= link_to("削除", "/users/#{@main_topic.id}/delete", class: "edit-link") %></li>
  </div>

  <div class="users-stock-big-box">
    <p><%= @main_topic.content %></p>
  </div>

  <div class="users-stock-small-boxes">
    <!-- 1.ランダムで表示される話題に紐づく中間データを全て取り出す -->
    <% @connections.each do |connection| %>
      <!-- 2.取り出した中間データに紐づく類題を、similar_topicsに全て代入する -->
      <% similar_topics = SimilarTopic.where(id: connection.similar_topic_id) %>
      <div class="users-stock-small-box">
        <!-- 3.代入した類題を全て取り出す -->
        <% similar_topics.each do |similar_topic| %>
          <!-- 4.取り出した類題のcontentのみを表示する -->
          <p><%= similar_topic.content %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>