<div style="height: 1000px; padding-top: 60px;">

  <style>
    .container {
      margin-top: 50px;
      text-align: center;
      color: white;
    }
    .text-box {
      width: 320px;
      padding: 20px;
      margin: 0 auto 10px auto;
      display: flex; 
      align-items: center; /* 子要素pを上下中央に並べる */
      background-color: #ff7799;
      border-radius: 20px;
    }
    .text-box p {
      font-size: 16px;
      text-align: left;
      word-wrap: break-word; /* テキストが枠内に収まるように折り返す */
    }
    .start-btn {
      width: 320px;
      height: 80px;
      line-height: 80px;
      padding: 0 20px;
      margin: 0 auto;
      font-size: 32px;
      background-color: darkorange;
      border-radius: 50px;
      cursor: pointer;
      box-shadow: 0 0 10px #0000001a
    }
    </style>

  <div class="container">
    <div class="text-box">
      <p>
      雑談上手な人はある話題からある話題を連想
      し、話し続けたり、時には質問を投げかけた
      りして、途切れないような会話の展開作りを
      しているといいます。更に、会話のプロはそ
      んな話題の数々をいくつも紐づけながら、予
      め脳内に蓄えているそうです。<br>
      あなたもトピックストックを使って、いざと
      いう時のために頭の中に話題をストックして
      おきましょう！
      </p>
    </div>
    <div class="start-btn">スタート</div>
  </div>
</div>