<div class="searchs-container">

  <div class="small-boxes">
    <% @topics.each do |topic| %>
      <%= button_to(
        topic.content, "/topics/stock",
        {method: :get, params: {id: 1, topic_id: topic.id}, class: "button"}
      ) %>
    <% end %>
  </div>

  <%= button_to(
    "/", {method: :get, class: "back"}
  ) do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>

</div>