<div class="searchs-container">
  <% if @error_message %>
    <p class="font-error"><%= @error_message %></p>
  <% end %>
  <div class="small-boxes">
    <% @topics.each do |topic| %>
      <div class="small-box">
        <p><%= topic.content %></p>
      </div>
    <% end %>
  </div>
</div>