@mixin container {
  margin-top: 110px;
  text-align: center;
}
@mixin vertical_center {
  display: flex;
  align-items: center;
}
@mixin center_column {
  @include vertical_center;
  flex-direction: column;
}
@mixin break_word($fontSize) {
  font-size: $fontSize;
  color: white;
  word-wrap: break-word;
}
@mixin small_boxs {
  width: 610px;
  margin: 0 auto;
}
@mixin small_box($height) {
  @include center_column;
  justify-content: center;
  width: calc((600px - 20px) / 3);
  height: $height;
  margin: 5px 5px;
  float: left;
  background-color: #ffb52a;
  border-radius: 10px;
  white-space: pre-wrap;
  overflow: hidden; /* 枠外のテキストを切り捨てる（平仮名40字まで） */
}
@mixin font_error($positionAbsoluteTop, $margin, $fontSize) {
  position: absolute;
  top: $positionAbsoluteTop;
  left: 50%;
  transform: translateX(-50%);
  margin: $margin;
  font-size: $fontSize;
  color: red;
}

.searchs-font-error {
  @include font_error(50px, 0, 20px);
}
.searchs-container {
  @include container;
}
.searchs-small-boxes {
  @include small_boxs;
}
.searchs-small-box {
  @include small_box(100px);
  cursor: pointer;
  transition: transform 0.3s ease;
  p {
    @include break_word(18px);
  }
  &:hover {
    transform: scale(1.09);
    background-color: rgb(255, 170, 34);
  }
}
