@mixin sp {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin pc {
  @media (min-width: 481px) {
    @content;
  }
}

@mixin container {
  margin-top: 110px;
  @include sp {
    margin-top: 80px;
  }
  text-align: center;
}
@mixin vertical_center {
  display: flex;
  align-items: center;
}
@mixin center_column {
  @include vertical_center;
  flex-direction: column;
}
@mixin break_word($fontSize) {
  font-size: $fontSize;
  color: white;
  word-wrap: break-word;
}
@mixin small_boxs {
  width: 610px;
  @include sp {
    width: 100%;
  }
  margin: 0 auto;
}
@mixin small_box($height) {
  @include center_column;
  justify-content: center;
  width: calc((600px - 20px) / 3);
  height: $height;
  margin: 5px 5px;
  @include sp {
    width: calc((100% - 8px) / 2);
    margin: 2px 2px;
  }
  float: left;
  background-color: #ffb52a;
  border-radius: 10px;
  white-space: pre-wrap;
  overflow: hidden;
}
@mixin font_error($positionAbsoluteTop, $margin, $fontSize) {
  position: absolute;
  inset: $positionAbsoluteTop 0 0 0;
  transform: translateY(-50%);
  margin: $margin;
  font-size: $fontSize;
  color: red;
}
@mixin turbo_btn {
  @include center_column;
  justify-content: center;
  width: 100px;
  height: 40px;
  margin: 20px auto 0 auto;
  font-size: 18px;
  @include sp {
    width: 40px;
    margin: 5px auto 0 auto;
  }
  background-color: rgb(255, 159, 239);
  border-radius: 10px;
  border: 0px solid;
  cursor: pointer;
  .fa {
    color: white;
  }
}

.searchs-container {
  @include container;
  @include center_column;
  position: relative;
  .font-error {
    @include font_error(0, 0 auto, 15px);
  }
  .small-boxes {
    @include small_boxs;
    .button {
      @include small_box(100px);
      border: 0px solid;
      cursor: pointer;
      transition: transform 0.3s ease;
      @include break_word(18px);
      @include sp {
        @include break_word(16px);
      }
      line-height: 105%;
      @include pc {
        &:hover {
          transform: scale(1.09);
          background-color: rgb(255, 170, 34);
        }
      }
    }
  }
  .back {
    @include turbo_btn;
  }
}
