/*topics/stock*/
.topics-stock-container {
  margin-top: 110px;
  text-align: center;
  color: white;
}
.topics-stock-big-box {
  width: 600px;
  height: 200px;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkorange;
  border-radius: 10px;
  overflow: hidden; /* 枠外のテキストpを切り捨てる（平仮名40字まで） */
}
.topics-stock-big-box p {
  font-size: 44px;
  word-wrap: break-word;
}
.topics-stock-small-boxes {
  width: 610px;
  margin: 0 auto;
}
.topics-stock-small-box {
  width: calc(
    (600px - 20px) / 3
  ); /* small-box3つとその間の長さの合計をbig-boxの長さと同じにする */
  height: 100px;
  margin: 5px 5px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffb52a;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  white-space: pre-wrap; /* small-boxがbig-boxの幅に収まるように折り返す */
  overflow: hidden; /* 枠外のテキストpを切り捨てる（平仮名40字まで） */
}
.topics-stock-small-box:active {
  transform: translateY(2px);
}
.topics-stock-small-box p {
  font-size: 18px;
  word-wrap: break-word;
}
