@mixin container {
  margin-top: 110px;
  text-align: center;
}
@mixin btn($width, $height, $lineHeight, $bgColor) {
  width: $width;
  height: $height;
  line-height: $lineHeight;
  padding: 0 20px;
  margin: 0 auto;
  background-color: $bgColor;
  border-radius: 50px;
  display: inline-block;
  transition: transform 0.3s ease;
}
@mixin form_btn {
  border: 0px solid;
  border-radius: 5px;
  cursor: pointer;
}
@mixin vertical_center {
  display: flex;
  align-items: center;
}
@mixin center_column {
  @include vertical_center;
  flex-direction: column;
}
@mixin color_group {
  color: white;
  background-color: darkorange;
}
@mixin color_group_mirror {
  color: darkorange;
  background-color: white;
}
@mixin big_box {
  @include vertical_center;
  justify-content: center;
  width: 600px;
  height: 200px;
  margin: 0 auto 20px auto;
  background-color: darkorange;
  border-radius: 10px;
  overflow: hidden; /* 枠外のテキストを切り捨てる（平仮名40字まで） */
}
@mixin break_word($fontSize) {
  font-size: $fontSize;
  color: white;
  word-wrap: break-word;
}
@mixin big_text {
  @include break_word(44px);
  background-color: darkorange;
  resize: none;
}
@mixin small_boxs {
  width: 610px;
  margin: 0 auto;
}
@mixin small_box($height) {
  @include center_column;
  justify-content: center;
  /* small-box3つとその間の長さの合計をbig-boxの長さと同じにする */
  width: calc((600px - 20px) / 3);
  height: $height;
  margin: 5px 5px;
  float: left;
  background-color: #ffb52a;
  border-radius: 10px;
  white-space: pre-wrap; /* small-boxがbig-boxの幅に収まるように折り返す */
  overflow: hidden; /* 枠外のテキストを切り捨てる（平仮名40字まで） */
}
@mixin small_text {
  @include break_word(17px);
  background-color: #ffb52a;
  resize: none;
}
@mixin font_error($positionAbsoluteTop, $margin, $fontSize) {
  position: absolute;
  top: $positionAbsoluteTop;
  left: 50%;
  transform: translateX(-50%);
  margin: $margin;
  font-size: $fontSize;
  color: red;
}

/*users/login_form*/
.users-login_form-organized-section {
  width: 75%;
  margin: 80px auto 0 auto;
  text-align: center;
  .font-error {
    @include font_error(none, 30px auto 0 auto, 15px);
  }
  h2 {
    margin-top: 50px;
  }
  form {
    @include center_column;
    label,
    input {
      margin-bottom: 10px;
    }
    .button {
      @include form_btn;
      @include color_group;
    }
  }
}

/*users/home*/
.users-home-container {
  @include container;
  color: white;
  a {
    text-decoration: none;
    color: white;
  }
  .big-box {
    @include center_column;
    width: 320px;
    padding: 20px;
    margin: 0 auto 10px auto;
    background-color: #ff7799;
    border-radius: 20px;
    p {
      padding: 10px;
      margin-right: 30px;
    }
    i {
      margin-right: 10px;
      display: inline;
    }
    .contents {
      width: 260px;
      .content {
        @include vertical_center;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        .new-btn {
          @include btn(100px, 30px, 30px, rgb(255, 159, 239));
        }
      }
    }
  }
  .start-btn {
    @include btn(320px, 80px, 80px, darkorange);
    font-size: 32px;
    &:hover {
      transform: scale(1.1);
    }
  }
}

/*users/stock*/
.users-stock-container {
  @include container;
  .edit-link {
    position: absolute;
    top: 56px;
    right: 10px;
    li {
      padding-left: 20px;
      float: left;
      list-style-type: none;
    }
    a {
      font-size: 18px;
      color: darkorange;
      text-decoration: underline;
    }
  }
  .big-box {
    @include big_box;
    cursor: default;
    p {
      @include break_word(44px);
    }
  }
  .small-boxes {
    @include small_boxs;
    .small-box {
      @include small_box(100px);
      cursor: pointer;
      transition: transform 0.3s ease;
      p {
        @include break_word(18px);
      }
      &:hover {
        transform: scale(1.09);
        background-color: rgb(255, 170, 34);
      }
    }
  }
}

/*users/new*/
.users-new-font-error {
  @include font_error(50px, 0, 20px);
}
.users-new-container {
  @include container;
  .button {
    @include form_btn;
    @include color_group_mirror;
  }
  .big-box {
    @include big_box;
    .big-text {
      @include big_text;
    }
  }
}

/*users/edit*/
.users-edit-font-error {
  @include font_error(50px, 0, 20px);
}
.users-edit-container {
  @include container;
  .button {
    @include form_btn;
    @include color_group_mirror;
  }
  .big-box {
    @include big_box;
    .big-text {
      @include big_text;
    }
  }
  .small-boxes {
    @include small_boxs;
    .small-box {
      @include small_box(120px);
      .small-text {
        @include small_text;
      }
    }
  }
}

/*users/delete*/
.users-delete-font-error {
  @include font_error(50px, 0, 20px);
}
.users-delete-container {
  @include container;
  .button {
    @include form_btn;
    @include color_group_mirror;
  }
  .big-box {
    @include big_box;
    .big-text {
      @include big_text;
      cursor: default;
    }
  }
  .small-boxes {
    @include small_boxs;
    .small-box {
      @include small_box(120px);
      .small-text {
        @include small_text;
        cursor: default;
      }
    }
  }
}
